<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no"
		/>
		<title>MERN Authenticator App</title>
		<link rel="stylesheet" href="/styles.css" />
		<script>
			window.USER = `<%- JSON.stringify(user) _%>`;
			window.ERROR = `<%= error _%>`;
		</script>
	</head>
	<body>
		<div id="root"></div>
		<script src="/main.js"></script>
	</body>
</html>
