.App {
	width: 80%;
	max-width: 500px;
	border-radius: 40px;
	padding: 30px;
	background-color: $primary-color;
	box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.705),
		5px 5px 15px rgba(0, 0, 0, 0.178);

	.react-swipeable-view-container > div {
		@include d-flex;
	}
}

@media screen and (max-width: 512px) {
	.App{	
		width: 100%;
		max-width: 100%;
		border-radius: 0px;
	}
}
