.ChangePassword {
	> h3 {
		text-align: center;
		margin-bottom: 20px;
	}
	button[type="submit"] {
		@include change-cursor;
		font-size: $large-font - 0.1rem;
		display: block;
		width: 70%;
		padding: 15px 40px;
		background: $red;
		border-radius: 20px;
		color: white;
		margin: 10px auto;
		width: fit-content;

		&:hover {
			@include boxShadow(true);
		}
	}
	&__go--back {
		@include d-flex;
		@include change-cursor;
		font-size: $small-font;

		> svg {
			margin-left: 10px;
		}

		&:hover {
			text-decoration: underline;
			color: $red;
		}
	}
}
