.Dashboard {
	> h3 {
		padding: 10px;
		text-align: center;
		font-size: $larger-font;
	}

	> p {
		margin: 20px;
		text-align: center;
		font-size: $small-font + 0.1rem;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: $small-font;

		svg {
			margin: 0 10px;
		}
		
		> p {
			@include change-cursor;
			margin: 5px;

			&:hover {
				text-decoration: underline;
				color: $red;
			}
		}
	}
}
