.ForgotPassword {
	> h3 {
		padding: 5px;
		text-align: center;
	}

	> p:nth-of-type(1) {
		font-size: $small-font;
		margin: 10px auto 0;
		text-align: center;
	}

	button[type="submit"] {
		@include change-cursor;
		width: fit-content;
		display: block;
		padding: 15px 30px;
		background: $green;
		margin: -20px auto 0;
		color: white;
		border-radius: 20px;
		font-size: $large-font - 0.1rem;

		&:hover {
			@include boxShadow(true);
		}
	}

	&__sign--up {
		@include login-signup-footer;
	}

	&__log--in {
		@include login-signup-footer;
		border: none;
		margin-top: 5px;
	}
}
