.Signup {
	> h3 {
		padding: 10px;
		text-align: center;
		font-size: $larger-font;
	}

	button[type="submit"] {
		@include change-cursor;
		width: 70%;
		padding: 10px 20px;
		border-radius: 20px;
		margin: 0 auto;
		display: block;
		overflow: hidden;
		position: relative;
		font-size: $large-font;
		color: white;
		background: $green;
		box-shadow: none;

		&:hover {
			@include boxShadow(true);
		}
	}

	&__log--in {
		@include login-signup-footer;
	}
}
